<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <form action="/artist-search" method="GET">
  <label for="artist">Search Artist:</label>
  <input id="artist" type="text" name="artistName" />
  <button type="submit">Search for an Artist</button>
</form>

  </body>
</html>

